1. Are there any differences between the genders, ethnicities, and parental level of education with respect to their performances in exams?
2. Are there any differences between the lunch types with respect to their performances in exams? If there are, how do you explain this?
3. Does the test preparation course seem to have an effect on the exam performances?
4. Which 2 exam scores are most correlated with each other?

## 1. Are there any differences between the genders, ethnicities, and parental level of education with respect to their performances in exams?

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats as stats
from scipy.stats.mstats import winsorize
from sqlalchemy import create_engine
import warnings

In [4]:
warnings.filterwarnings('ignore')
sns.set(style="whitegrid")

postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'studentsperformance'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

students_df = pd.read_sql_query('select * from studentsperformance',con=engine)

# no need for an open connection, 
# as we're only doing a single query
engine.dispose()

In [18]:
students_df.groupby('gender').mean()

        math score  reading score  writing score
gender
female   63.633205      72.608108      72.467181
male     68.728216      65.473029      63.311203

In [21]:
students_df.groupby('race/ethnicity').mean()

                math score  reading score  writing score
race/ethnicity
group A          61.629213      64.674157      62.674157
group B          63.452632      67.352632      65.600000
group C          64.463950      69.103448      67.827586
group D          67.362595      70.030534      70.145038
group E          73.821429      73.028571      71.407143

In [22]:
students_df.groupby('parental level of education').mean()

                             math score  reading score  writing score
parental level of education
associate's degree            67.882883      70.927928      69.896396
bachelor's degree             69.389831      73.000000      73.381356
high school                   62.137755      64.704082      62.448980
master's degree               69.745763      75.372881      75.677966
some college                  67.128319      69.460177      68.840708
some high school              63.497207      66.938547      64.888268

For gender: males seem to perform better on math while females perform better on both reading and writing.

For race: Groups D and E perform best out of the group while group A lags behind

For Parental Edu: There is a correlation between parental education and higher scores for students

## 2. Are there any differences between the lunch types with respect to their performances in exams? If there are, how do you explain this?

In [24]:
students_df.groupby('lunch').mean()

              math score  reading score  writing score
lunch
free/reduced   58.921127      64.653521      63.022535
standard       70.034109      71.654264      70.823256

Standard (paid) lunches perform better. It's a guess that their families likely come from a higher socio-economic status and are likely also better educated / paid

## 3. Does the test preparation course seem to have an effect on the exam performances?

In [26]:
students_df.groupby('test preparation course').mean()

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

yes, and almost doubly so for impacting reading and writing scores

## 4. Which 2 exam scores are most correlated with each other?

In [29]:
students_df.corr()

               math score  reading score  writing score
math score       1.000000       0.817580       0.802642
reading score    0.817580       1.000000       0.954598
writing score    0.802642       0.954598       1.000000

Reading and writing have high correlations